.page {
    position: relative;
    height: 100vh;
  }
  
  .response-box {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 20px;
  }

  .response-id {
    text-align: left;
    font-size: 16px;
    font-weight: bold
  }

  .response {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* border: 0.5px solid #333333; */
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 5px
  }

  .response.self {
    background-color:#7FCAF5;
  }

  .response.other {
    background-color:#F0F0F0;
  }
  
  .responses {
    overflow-y: auto;
    max-height: 72vh;
    display: flex;
    flex-direction: column;
  }
  
  .ask-box {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 10px;
  } 
  
  .submit-button {
    position: absolute;
    bottom: 31px;
    right: -60px;
    padding: 10px;
    background-color: white;
    color: #333333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  