.page {
    position: relative;
    height: 100vh;
  }
  
  .response-box {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 20px;
  }
  
  .responses {
    overflow-y: auto;
    height: 100%;
  }
  
  .ask-box {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 10px;
  } 
  
  .submit-button {
    position: absolute;
    bottom: 31px;
    right: -60px;
    padding: 10px;
    background-color: white;
    color: #333333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  