body {
    margin: 0; /* Remove default margin to ensure the color covers the entire page */
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 150px;
    width: 600px;
    background: #AEDFF7;
    padding: 30px;
    border-radius: 20px;
}

.login_header, .signup_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 15px;
}

.signin_text, .signup_text{
    color: #333333;
    font-size: 35px;
    font-weight: 500;
}

.inputs_container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input_box{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: #E4E4E4;
    border-radius: 12px;
}

.input_box input{
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color:bc452d;
    font-size: 15px;
    margin: 10px;
}

.formSwitch{
    padding-left: 100px;
    margin-top: 20px;
    color: #333333;
    font-size: 20px;
    gap: 20px;
}

.formSwitch span{
    color: #333333;
    text-decoration: underline;
    cursor: pointer;
}
.submitContainer{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.gray {
    color: #E4E4E4;
    background-color: #333333;
}