.new-journal-entry{
  border: 2px dashed #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.journal-entry{
  text-decoration: none;
  color: inherit;
}

.journal-entry-container{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

.journal-entry-content{
  color: #888;
}

.journal-editor-container{
  padding: 20px;
}

.journal-page{
  display: flex;
  flex-wrap: wrap;
}