/* journal page */
.box-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.new-journal-entry {
  border: 2px dashed #333333;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  width: 180px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.journal-entries {
  display: flex; 
  flex-wrap: wrap; 
}

.journal-entry {
  border:  1px solid #333333;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  width: 180px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* new page */
.editor-page{
  width: 70%;
  margin: auto;
  padding: 20px;
}

.title-editor{
  margin-top: 10px;
}

.title-input{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
  height: 500%;

}

.content-input{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
  height: 500px; 
  resize: none; 
  overflow-y: auto; 
}

.editor-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.editor-buttons button {
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
  color: #333333;
  border-radius: 10px;
}

/* view page */
.view-page {
  
  padding: 20px;
  width: 70%;
  margin: auto;
}

.title-view-container, .content-view-container {
  width: 70%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.title-view-container{
  background-color: #AEDFF7;
}

.title-view {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333333;
}

.content-view {
  font-size: 18px;
  line-height: 1.6;
}
