body {
    margin:0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333333;
    background-color: #E4E4E4;
}



.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.intro-text {
    text-align: center;
    max-width: 600px; 
    margin: 20px; 
    font-size: 25px;
}
  
h1 {
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    font-weight: 900; 
    font-size: 80px; 
    color: #333333; 
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    transform: skew(-10deg); 
    -webkit-background-clip: text; 
    background-clip: text; 
    transition: transform 0.3s ease-in-out; 
    display: inline-block;
}

.login-btn{
    background-color: #AEDFF7;
    color: #333333;
    padding: 25px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}


  